<div class="container">
  <div class="row">
    <div class="col">
      <h4><%= @spot.name %></h4>
    </div>
    <div class="col">
      <p>お気に入り</p><%= @spot.spot_favorites.count %>件
      <% if @spot.favorited_by?(current_user) %>
        <%= link_to spot_spot_favorites_path(@spot), method: :delete do %>
          お気に入り登録削除
        <% end %>
      <% else %>
        <%= link_to spot_spot_favorites_path(@spot), method: :post do %>
          お気に入り登録
        <% end %>
      <% end %>
    </div>

    <div class="col">
      <% if @spot.has_beach %>
        <p>ビーチあり</p>
      <% else %>
        <p>ビーチなし</p>
      <% end %>
    </div>

    <div class="col">
      <% if @spot.has_boat %>
        <p>ボートあり</p>
      <% else %>
        <p>ボートなし</p>
      <% end %>
    </div>

    <div class="col">
      <% if @spot.for_beginners %>
        <p>初心者も安心</p>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <%= @spot.caption %>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div id="map"></div>
      <div class="map">
        <style>
          #map{
            height: 400px;
          }
        </style>
        <script>
          var map;
          function initMap() {
            map = new google.maps.Map(document.getElementById('map'), {
                center: {lat: gon.spot.latitude, lng: gon.spot.longtitude},
                zoom: 10
            });

            // マーカー一か所のみ
            var marker = new google.maps.Marker({
              position: {lat: gon.spot.latitude, lng: gon.spot.longtitude},
              map: map
            });
          }
        </script>
      </div>
    </div>
    <div class="col">
      ルート表示
    </div>
  </div>

  <div class="">
  <h5>口コミ一覧</h5>
    <div class="row">
      <div class="col">
        <%= link_to "口コミを投稿する", new_user_comment_path(current_user.id) %>
      </div>
    </div>
    <div class="row">
      <% @comments.each do |comment| %>
        <div class="col">
          <%= comment.user.name %>
        </div>
        <div class="col">
          <%= comment.comment %>
        </div>

        <div class="col">
          <div class="comment_favorite">
            <%= render "comment_favorites/comment_favorite", comment: comment %>
          </div>
        </div>
        <% if comment.user == current_user %>
          <%= link_to "コメントを編集する", edit_user_comment_path(current_user.id, comment.id) %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>