<div class="container">
  <div class="row">
    <div class="col">
      <h4><%= @spot.name %></h4>
    </div>

    <div class="col">
      <% if user_signed_in? %>
        <div id="spot_favorite_<%= @spot.id %>">
          <%= render "spot_favorites/spot_favorite", spot: @spot %>
        </div>
      <% else %>
        <div>
          お気に入り登録<%= @spot.spot_favorites.count %>件
        </div>
      <% end %>
    </div>

    <div class="col">
      <i class="fas fa-umbrella-beach">ビーチポイント</i>
    </div>
    <div class="col">
      <% if @spot.has_beach %>
        <i class="far fa-circle">あり</i>
      <% else %>
        <i class="fas fa-times">なし</i>
      <% end %>
    </div>

    <div class="col">
     <i class="fas fa-ship">ボートポイント</i>
    </div>
    <div class="col">
      <% if @spot.has_boat %>
        <i class="far fa-circle">あり</i>
      <% else %>
        <i class="fas fa-times">なし</i>
      <% end %>
    </div>

    <div class="col">
      <% if @spot.for_beginners %>
        <i class="far fa-thumbs-up">初心者も安心</i>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <%= @spot.caption %>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div id="map"></div>
      <script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV["gmap_API_key"] %>&callback=initMap" async defer></script>
      <div class="map">
        <style>
          #map{
            height: 400px;
          }
        </style>
        <script>
          var map;
          function initMap() {
            map = new google.maps.Map(document.getElementById('map'), {
                center: {lat: gon.spot.latitude, lng: gon.spot.longtitude},
                zoom: 10
            });

            // マーカー一か所のみ
            var marker = new google.maps.Marker({
              position: {lat: gon.spot.latitude, lng: gon.spot.longtitude},
              map: map
            });
          }
        </script>
      </div>
    </div>
    <div class="col">
      ルート表示
    </div>
  </div>

  <div class="">
  <h5>口コミ一覧</h5>
    <div class="row">
      <% if user_signed_in? %>
        <div class="col">
          <%= link_to "口コミを投稿する", new_spot_comment_path(@spot) %>
        </div>
      <% end %>
    </div>
    <% @comments.each do |comment| %>
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col">
              <%= link_to spot_comment_path(@spot, comment.id) do %>
                <%= attachment_image_tag comment.image, :image, :fill, 10, 10, fallback: "no_image.jpg" %>
              <% end %>
            </div>
            <div class="col">
              <i class="fas fa-user"></i>
              <%= comment.user.name %>
            </div>
            <div class="col">
              <%= comment.comment %>
            </div>
            <div class="col">
              <% if user_signed_in? %>
                <div id="comment_favorite_<%= comment.id %>">
                  <%= render "comment_favorites/comment_favorite", comment: comment %>
                </div>
              <% else %>
                <div>
                  <%= comment.comment_favorites.count %>いいね
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>