<% @comments.each do |comment| %>
  <div class="card mb-3">
    <div class="row">
      <div class=" col-2 my-auto">
        <%= attachment_image_tag comment.image, :image, :fill, 20, 20, fallback: "no_image.jpg" %>
      </div>
      <div class="col-6">
        <div class=""><%= comment.comment %></div>
      </div>
      <div class="col-2 my-auto">
        <div class=""><i class="fas fa-map-marker-alt"></i><%= comment.spot.name %></div>
        <div class="">♥<%= comment.comment_favorites.count %>いいね</div>
      </div>
      <div class="col-2 my-auto"><%= link_to "詳細", spot_comment_path(comment.spot.id, comment.id), class: "btn btn-outline-success" %></div>
    </div>
  </div>
<% end %>