<div class="container">
  <div>
    <% if @comment.errors.any? %>
      エラーが発生しました
    <% end %>
  </div>

  <div class="row">
    <h4>口コミ編集</h4>
    <p class="text-danger offset-1">＊部分は入力必須です</p>
  </div>

  <%= form_with model: @comment, url: spot_comment_path, method: :patch, local: true do |f| %>
    <div class="form-group row">
      <%= f.label "＊スポット名", class: "col-md-2" %>
      <%= f.collection_select(:spot_id, @spots, :id, :name, selected: @spot.id) %>
    </div>
    <div class="form-group row mt-3">
      <%= f.label "＊タイトル", class: "col-md-2" %>
      <%= f.text_field :title, placeholder: "タイトル", class: "col-md-6" %>
    </div>
    <div class="form-group row">
      <%= f.label "＊口コミ本文", class: "col-md-2" %>
      <%= f.text_area :comment, placeholder: "どんなダイビングでしたか？", class: "col-md-6" %>
    </div>
    <div class="form-group row">
      <%= f.label "画像", class: "col-md-2" %>
      <%= f.attachment_field :image %>
    </div>
    <div class="form-group row">
      <%= f.submit "編集する", class: "btn btn-outline-success offset-3 my-auto" %>
      <%= link_to "この口コミを削除する", spot_comment_path(@spot.id, @comment), method: :delete, class: "btn btn-outline-danger offset-3 my-auto" %>
    </div>
  <% end %>
</div>