<div class="container">
  <div class="row">
    <% if @comment.errors.any? %>
      コメントを入力してください
    <% end %>
  </div>

  <div class="row">
    <h4>口コミ投稿</h4>
    <p class="text-danger offset-1">＊部分は入力必須です</p>
  </div>
  <%= form_with model: @comment, url: spot_comments_path, local: true do |f| %>
    <div class="form-group row mt-3">
      <%= f.label "＊スポット名", class: "col-2" %>
      <%= f.collection_select(:spot_id, @spots, :id, :name, selected: @spot.id) %>
    </div>
    <div class="form-group row mt-3">
      <%= f.label "＊口コミ本文", class: "col-2" %>
      <%= f.text_area :comment, placeholder: "どんなダイビングでしたか？", class: "col-6" %>
    </div>
    <div class="form-group row mt-3">
      <%= f.label "画像", class: "col-2" %>
      <%= f.attachment_field :image %>
    </div>
    <div class="form-group row mt-3">
      <%= f.submit "投稿する", class: "btn btn-outline-success offset-3 mt-3"  %>
    </div>
  <% end %>
</div>