<div class="container">
  <h4>口コミ投稿</h4>
  <%= form_with model: @comment, url: spot_comments_path, local: true do |f| %>
    <div class="row">
      <div class="col">
        <%= f.label "スポット名" %>
        <%= f.collection_select(:spot_id, @spots, :id, :name, selected: @spot.id) %>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <%= f.label "本文" %>
        <%= f.text_field :comment %>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <%= f.label "画像" %>
        <%= f.attachment_field :image %>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <%= f.submit "投稿する" %>
      </div>
    </div>
  <% end %>
</div>