<div class="container">
  <div class="title">
    <h4>口コミ・レビュー</h4>
  </div>

  <div class="row">
    <div class="col mb-3">
      <h5 class="text-imp"><%= @spot.name %> （<%= @spot.area.name %>）</h5>
    </div>
  </div>

  <div class="row round-imp py-2">
    <div class="col-2">
      <%= attachment_image_tag @comment, :image, :fill, 160, 140, fallback: "no_image.jpg" %>
    </div>
    <div class="col-6">
      <h6 class="text-sub border-bottom"><strong><%= @comment.title %></strong></h6>
      <div class=""><%= @comment.comment %></div>
    </div>
    <div class="col-2 my-auto">
      <div class=""><i class="fas fa-user"></i><%= @user.name %></div>
      <% if user_signed_in? %>
        <div id="comment_favorite_<%= @comment.id %>">
          <%= render "comment_favorites/comment_favorite", comment: @comment %>
        </div>
      <% else %>
        <div class="">
          ♥<%= @comment.comment_favorites.count %>いいね
        </div>
      <% end %>

      <div class=""><%= @comment.created_at %></div>
    </div>
    <div class="col-1 my-auto">
      <% if @comment.user_id == current_user.id %>
        <%= link_to "編集", edit_spot_comment_path(spot_id: @spot, id: @comment), class: "btn btn-outline-success" %>
      <% end %>
    </div>
  </div>

  <div class="content">
    <h5>その他の口コミ・レビュー</h5>
    <%= render "comments/index_large", comments: @comments %>
  </div>

</div>