<div class="container">
  <div class="row">
    <div class="col-5">
      <h5>ユーザー詳細</h5>
      <%= @user.user_name %>
      <br>
      <%= @user.email %>
      <br>
      <%= @user.profile %>

      Cカードランク：<%= @user.rank %>

      <div>
        <%= link_to "編集する", edit_user_path(@user.id), class: "btn btn-success btn-sm"%>
      </div>
    </div>
    <div class="col-6">
      <h5>口コミ一覧</h5>
      <% @comments.each do |comment| %>
        <%= comment.spot.name %>
        <%= comment.comment %>
        ♥<%= comment.comment_favorites.count %>いいね
        <%= link_to "編集する", edit_user_comment_path(current_user.id, comment.id) %>
      <% end %>
    </div>
  </div>
</div>


